/* ROOT */

:root {

  /* --candy: #FFF; */
  /* --licorice: #000; */

  --nd-cyan: #125079;
  --nd-orange: #e66100;
  --nd-teal: #2dbec2;

}



/* 8 COLOR */

/* 8.1 FONT-COLOR */

.allsorts-licorice a {
  color: var(--nd-teal);
}
.allsorts-candy a:hover,
.allsorts-candy .color,
.allsorts-candy-nd-cyan a {
  color: var(--nd-orange);
}
.allsorts-candy-nd-teal a {
  /* color: var(--nd-cyan); */
}
a:hover,
button,
select,
.allsorts-candy-nd-cyan,
.allsorts-licorice {
  color: white;
}

/* nav a {
  color: white;
}
nav a:hover {
  color: teal;
} */

/* 8.2 BACKGROUND-COLOR */

.allsorts-candy {
  background-color: white;
}
select,
.allsorts-licorice {
  background-color: black;
}
.allsorts-candy-nd-cyan {
  background-color: var(--nd-cyan);
}
button,
.allsorts-candy-nd-orange {
  background-color: var(--nd-orange);
}
button:hover,
select:hover,
.allsorts-candy-nd-teal {
  background-color: var(--nd-teal);
}

/* nav, */

.feature-left {
  background-color: none;
  background-attachment: fixed;
  background-image: url("../svg/jac.paper-airplane.a.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 35vw auto;
}
.feature-right {
  background-color: none;
  background-attachment: fixed;
  background-image: url("../svg/jac.paper-airplane.b.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 35vw auto;
}

.allsorts-candy-nd-orange button,
.allsorts-candy-nd-teal button {
  background-color: black;
}
.allsorts-candy-nd-orange button:hover {
  background-color: var(--nd-teal);

}
.allsorts-candy-nd-teal button:hover {
  background-color: var(--nd-orange);
}

/* 8.3 BORDER-COLOR */

.allsorts-licorice .matte {
  border-color: var(--nd-teal);
}
.matte.nd-cyan {
  border-color: var(--nd-cyan);
}
.matte.nd-orange,
.allsorts-candy .matte {
  border-color: var(--nd-orange);
}
.matte.white,
.allsorts-candy-nd-cyan .matte {
  border-color: white;
}
.allsorts-candy-nd-orange .matte {
  border-color: black;
}
